<header class='header'> Survey<img src='http://www.clker.com/cliparts/1/4/3/4/1258661944702491623drunken_duck_crow_silhouette.svg.hi.png' class='crowpic'> Crow</header>
<div class="form-container">
<h1>Login</h1>

<%= form_tag do %>
  <%= label_tag :email %><br>
  <%= text_field_tag :email %><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Login"%>
<% end %>

<h1><%= link_to "Sign Up", new_author_path %></h1>

</div>
