<div><img src='http://www.clker.com/cliparts/1/4/3/4/1258661944702491623drunken_duck_crow_silhouette.svg.hi.png' class='crowpic'>
</div>
<div class='showauthor'>
  <p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Back', authors_path %>
<%= link_to 'Home', root_path %>
</div>
