<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id %>
  </div>

  <h2>Questions</h2>
  <%= f.fields_for :questions do |ff| %>
    <%= render 'questions', :f => ff %>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit Question'%>
  </div>

  <div class="actions">
    <%= link_to 'Finish Survey', surveys_path %>
  </div>

<% end %>
