<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id %>
  </div>

  <h2>Questions</h2>
  
    <%= f.fields_for(:questions) do |ff| %>
    <div>
      <span><%= ff.index + 1 %>. </span>
      <div class="field">
        <%= ff.hidden_field :number, value: ff.index + 1 %>
      </div>
      <div class="field">
        <%= ff.label :text, "Question" %><br>
        <%= ff.text_field :text %>
      </div>
      <div class="field">
        <%= ff.label :response_type %><br>
        <%= ff.select :response_type, [["Yes/No", "yes/no"], ["Short Answer", "string"], ["Long Answer", "text"]] %>
      </div>
      <div class="field">
        <%= ff.label :text, "Required?   " %>
        <%= ff.check_box :required, :id => "required" + (ff.index + 1).to_s %>
        <%= ff.label :_, :for => "required" + (ff.index + 1).to_s %>
      </div>
      <div class="field">
        <%= ff.label :text, "Delete?    " %>
        <%= ff.check_box :_destroy, :id => "destroy" + (ff.index + 1).to_s %>
        <%= ff.label :_, :for => "destroy" + (ff.index + 1).to_s %>
      </div>
    </div>
    <% end %>

  <div class="actions">
    <%= f.submit 'Submit Question'%>
  </div>

  <div class="actions">
    <%= link_to 'Finish Survey', surveys_path %>
  </div>

<% end %>
