<div class="form-container">
<h1>Your Surveys</h1>
<table>
  <thead>
    <tr>
      <th>Survey</th>
      <th>Description</th>
      <th>Number of Results</th>
      <th>User Link</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to "#{survey.name}", edit_survey_path(survey.id) %></td>
        <td><%= survey.description %></td>
        <td><%= link_to "#{survey.number_of_results(survey.id)}", survey %></td>
        <td><a href="<%= 'http://survey-crow.herokuapp.com/forms/new?id=#{survey.id}' %>"><%= "http://survey-crow.herokuapp.com/forms/new?id=#{survey.id}" %></a></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Make New Survey', new_survey_path %>
<%= link_to 'Edit Your Information', edit_author_path(@author) %>
</div>
