
<img src='http://www.clker.com/cliparts/1/4/3/4/1258661944702491623drunken_duck_crow_silhouette.svg.hi.png' class='crowpic2'>
<div class="form-container">
<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Questions:</strong>
</p>

<div class="ol">
<ol>
  <% @survey.questions.each do |q| %>
    <% @some_responses = @responses.select{ |response| response.question_id == q.id }%>
      <li><%= q.text %></li>
        <ul>
        <% if q.response_type == 'yes/no' %>
          <% yes = @some_responses.count { |s| s.answer == "Yes" } %>
          <% no = @some_responses.count { |s| s.answer == "No" } %>
          <li>Yes <%= (yes.to_f / @some_responses.count.to_f) * 100 %>%</li>
          <li>No <%= (no.to_f / @some_responses.count.to_f) * 100 %>%</li>
        <% elsif q.response_type == 'multi' %>
          <% @answers = AnswerChoice.where(question_id: q.id).all %>
          <li><ul>
            <% @answers.each do |n| %>
              <% num = @some_responses.count { |s| s.answer == n.content }  %>
              <li><%= n.content %> <%= (num.to_f / @some_responses.count.to_f) * 100 %>%</li>
            <% end %>
          </ul></li>
        <% else %>
          <% @some_responses.each do |r| %>
            <li><%= r.answer %></li>
          <% end %>
        <% end %>
      </ul>
  <% end %>
</ol>
</div>

<%= link_to 'Edit', edit_survey_path(@survey) %>
<%= link_to 'Back', surveys_path %>
<%= link_to 'Home', root_path %>
</div>
