<div class="form-container">
<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Questions:</strong>
</p>

<ol>
  <% @survey.questions.each do |q| %>
      <li><%= q.text %></li>
      <ul>
        <% @some_responses = @responses.select{ |response| response.question_id == q.id }%>
        <% @some_responses.each do |r| %>
          <li><%= r.answer %></li>
        <% end %>
      </ul>
  <% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %>
<%= link_to 'Back', surveys_path %>
<%= link_to 'Home', root_path %>
</div>