<div class="form-container">
 <div class="answer-wrapper">
  <%= form_for(@form) do |f| %>
    <% if @form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@form.errors.count, "error") %> prohibited this question from being saved:</h2>
        <ul>
        <% @form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :survey_id, value: params[:survey_id] %>
    </div>
    <h2><%= @form.survey.name %></h2>
    <%= f.fields_for(:responses) do |ff| %>
      <% question = ff.object.question %>
      <% if question.required %>
        <h6> Required </h6>
      <% end %>
      <%= question.number %>.
      <%= question.text %>
      <div class="field">
        <%= ff.hidden_field :question_id %>
      </div>
      <div class="field">
          <%= ff.label :answer, "Your response" %><br>
          <% if question.response_type == "string" %>
            <%= ff.text_field :answer %>
          <% elsif question.response_type == "text" %>
            <%= ff.text_area :answer %>
          <% elsif question.response_type == "multi" %>
            <%= ff.select :answer, question.answer_choices.map{ |a| [a.content, a.content] }, include_blank: true %>
          <% else %>
            <%= ff.radio_button :answer, 'Yes' %>
            <%= ff.label :answer, "Yes", :value => "yes" %>
            <%= ff.radio_button :answer, "No" %>
            <%= ff.label :answer, "No", :value => "no" %>
          <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Submit Responses'%>
    </div>

    <% end %>
  </div>
</div>
